<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AppPath" value="C:\\Program Files\\Quest Integrity Group\\LifeQuest Pipeline\\LifeQuest.exe" />
    <add key="ProcessName" value="LifeQuest"/>
    <add key="Purple_WindowTitle" value="LifeQuest™ Pipeline"/>
    <add key="Purple_BlankValue" value="!BLANK!"/>
    <add key="Purple_Delimiter" value="/"/>
    <add key="Purple_ValueDelimiterStart" value="{"/>
    <add key="Purple_ValueDelimiterEnd" value="}"/>
    <add key="Purple_ElementWaitTimeOutSeconds" value="60"/>
    <!--Machine Names should be in all caps-->
    <add key="Machine1" value="WIN-2QANAJG4LV5"/>
    <add key="Machine2" value="SETHURBAN-PC"/>
    <add key="Machine3" value="SETH-PC"/>
    <add key="Machine4" value="PROTOTESTPC"/>
    <add key="DS1" value="C:\CI_Projects\QIG_DataSets\RL2013_ProtoTest_Start\TestDataImport.prj"/>
    <add key="DS2" value="C:\Users\SethUrban\Documents\ProtoTest Documents\Customer Projects\QuestIntegrity\DataSets\RL2013_ProtoTest_Start\TestDataImport.prj"/>
    <add key="DS3" value="Z:\ProtoTest\QuestIntegrity\DataSets\RL2013_ProtoTest_Start\TestDataImport.prj"/>
    <add key="DS4" value="c:\Users\Fernando\Documents\ProtoTest\Quest Integrity\2014.02.20-1316\TestDataImport.prj"/>
    <add key="PrjName1" value="RLF2013TestFile.qig"/>
    <add key="PrjName2" value="RLF2013TestFile.qig"/>
    <add key="PrjName3" value="RLF2013TestFile.qig"/>
    <add key="PrjName4" value="RLF2013TestFile.qig"/>
  </appSettings>
</configuration>